################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/matrix_calulator.c/v17/Browse.VC.opendb
/.vs/matrix_calulator.c/v17/Browse.VC.db-wal
/.vs/matrix_calulator.c/v17/Browse.VC.db
/.vs/matrix_calulator.c/v17/Browse.VC.db-shm
/.vs/matrix_calulator.c/v17/.wsuo
/.vs/slnx.sqlite
/.vs/matrix_calulator.c/FileContentIndex
